// BUTTON PRIMARY
///////////////////
.bento-button-primary {
    width: 100%;
    height: 48px;
    padding: $spacing-sm;
    color: $white;
    background-color: $fp-brand-primary;
    @include highlight();
    text-align: center;
    border: none;
    border-radius: $corner-radius-xs;
    @include elevation-level-1();
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .bento-button-primary-left-element {
       position: absolute;
       top: 12px;
       left: $spacing-sm;
        svg path {
            fill: $white;
        }
    }

    .bento-button-primary-right-element {
        position: absolute;
        top: $spacing-sm;
        right: $spacing-sm;
    }

    .bento-button-primary-label {
        position: absolute;
        top: $spacing-sm;
        bottom: $spacing-sm;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .bento-button-primary-ripple {
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $fp-interaction-primary-hover;
        border-radius: 100%;
        transform: scale(0);
    }
    &:active {
        .bento-button-primary-ripple {
            animation: button-primary-ripple .2s ease-in forwards;
        }
    }

    &.basket-counter .bento-button-primary-left-element{
        width: 24px;
        height: 24px;
        line-height: 1.5;
        border: 1px solid $white;
        border-radius: 100%;
    }

    &.basket-counter.multi-digits .bento-button-primary-left-element{
        width: 43px;
        height: 24px;
        line-height: 1.5;
        border: 1px solid $white;
        border-radius: $corner-radius-sm;
    }

    &.loading, &.success {
        background-color: $fp-interaction-primary-feedback;
        box-shadow: none;
        .bento-button-primary-loading-container {
            margin-top: -8px;
           .bent-loading-dot {
               display: inline-block;
               width: 4px;
               height: 4px;
               background-color: $fp-interaction-primary;
               border-radius: 100%;
               animation: button-primary-loading .5s linear infinite;
               &:nth-child(2) {
                animation: button-primary-loading .5s linear .15s infinite;
               }
               &:nth-child(3) {
                animation: button-primary-loading .5s linear .3s infinite;
               }
           } 
        }
    }
    
    &.success .bento-primary-button-success-icon{
        animation: button-primary-success .5s ease-in backwards;
    }

    &:disabled {
        background-color: $neutral-inactive;
        box-shadow: none;
        cursor: not-allowed;
        pointer-events: all !important;
        &:active {
            .bento-button-primary-ripple {
                animation: none;
            }
        }
    }
}


// BUTTON PRIMARY RIPPLE ANIMATION
///////////////////
@keyframes button-primary-ripple {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(8);
    }
}

// BUTTON PRIMARY LOADING ANIMATION
///////////////////
@keyframes button-primary-loading {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

// BUTTON PRIMARY SUCCESS ANIMATION
///////////////////
@keyframes button-primary-success {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


// BUTTON PRIMARY SMALL
///////////////////
.bento-button-primary-small {
    width: 112px;
    height: 32px;
    padding: $spacing-xs $spacing-sm;
    color: $white;
    background-color: $fp-brand-primary;
    @include highlight();
    text-align: center;
    border: none;
    border-radius: $corner-radius-xs;
    @include elevation-level-1();
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .bento-button-primary-small-label {
        position: absolute;
        top: $spacing-xs;
        bottom: $spacing-sm;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .bento-button-primary-small-ripple {
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $fp-interaction-primary-hover;
        border-radius: 100%;
        transform: scale(0);
    }

    &.loading, &.success {
        background-color: $fp-interaction-primary-feedback;
        box-shadow: none;
        .bento-button-primary-small-loading-container {
            margin-top: -8px;
           .bent-loading-dot {
               display: inline-block;
               width: 4px;
               height: 4px;
               background-color: $fp-interaction-primary;
               border-radius: 100%;
               animation: button-primary-loading .5s linear infinite;
               &:nth-child(2) {
                animation: button-primary-loading .5s linear .15s infinite;
               }
               &:nth-child(3) {
                animation: button-primary-loading .5s linear .3s infinite;
               }
           } 
        }
    }

    &.success {
        .bento-primary-button-small-success-icon {
            animation: button-primary-success .5s ease-in backwards;
        }
    }

    &:active {
        .bento-button-primary-small-ripple {
            animation: button-primary-ripple .2s ease-in forwards;
            
        }
    }

    &:disabled {
        background-color: $neutral-inactive;
        box-shadow: none;
        cursor: not-allowed;
        pointer-events: all !important;
        &:active {
            .bento-button-primary-ripple {
                animation: none;
            }
        }
    }
}


// BUTTON SECONDARY
///////////////////
.bento-button-secondary {
    width: 100%;
    height: 48px;
    padding: $spacing-sm;
    color: $fp-brand-primary;
    background-color: $white;
    @include highlight();
    text-align: center;
    border: 1px solid $fp-brand-primary;
    border-radius: $corner-radius-xs;
    @include elevation-level-1();
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .bento-button-secondary-label {
        position: absolute;
        top: $spacing-sm;
        bottom: $spacing-sm;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .bento-button-secondary-ripple {
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $fp-interaction-primary-feedback;
        border-radius: 100%;
        transform: scale(0);
    }

    &:active {
        .bento-button-secondary-ripple {
            animation: button-primary-ripple .2s ease-in forwards;
        }
    }

    &.loading, &.success {
        background-color: $fp-interaction-primary-feedback;
        box-shadow: none;
        border: none;
        .bento-button-secondary-loading-container {
            margin-top: -8px;
           .bent-loading-dot {
               display: inline-block;
               width: 4px;
               height: 4px;
               background-color: $fp-interaction-primary;
               border-radius: 100%;
               animation: button-primary-loading .5s linear infinite;
               &:nth-child(2) {
                animation: button-primary-loading .5s linear .15s infinite;
               }
               &:nth-child(3) {
                animation: button-primary-loading .5s linear .3s infinite;
               }
           } 
        }
    }
    
    &.success .bento-secondary-button-success-icon{
        animation: button-primary-success .5s ease-in backwards;
    }

    &:disabled {
        color: $white;
        background-color: $neutral-inactive;
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        pointer-events: all !important;
        &:active {
            .bento-button-secondary-ripple {
                animation: none;
            }
        }
    }
}


// BUTTON TEXT
///////////////////
.bento-button-text {
    width: 110px;
    height: 48px;
    padding: $spacing-sm $spacing-xs;
    color: $fp-brand-primary;
    background-color: transparent;
    @include highlight();
    text-align: center;
    text-transform: uppercase;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .bento-button-text-label {
        position: absolute;
        top: 14px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .bento-button-text-ripple {
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $fp-interaction-primary-feedback;
        border-radius: 100%;
        transform: scale(0);
    }

    &:active {
        .bento-button-text-ripple {
            animation: button-primary-ripple .5s ease-in forwards;
        }
    }

    &.loading {
        background-color: transparent;
        box-shadow: none;
        border: none;
        .bento-button-text-loading-container {
            margin-top: -8px;
           .bent-loading-dot {
               display: inline-block;
               width: 4px;
               height: 4px;
               background-color: $fp-interaction-primary;
               border-radius: 100%;
               animation: button-primary-loading .5s linear infinite;
               &:nth-child(2) {
                animation: button-primary-loading .5s linear .15s infinite;
               }
               &:nth-child(3) {
                animation: button-primary-loading .5s linear .3s infinite;
               }
           } 
        }
    }

    &:disabled {
        color: $neutral-inactive;
        background-color: transparent;
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        pointer-events: all !important;
        &:active {
            .bento-button-text-ripple {
                animation: none;
            }
        }
    }
}


// BUTTON TOGGLE [OR]
///////////////////
.bento-button-toggle-or-container {
    display: flex;

    input {
        opacity: 0;
        width: 0;

        &:checked + label {
            background-color: $fp-interaction-primary;

            .bento-button-toggle-or-label {
                color: $white;
            }

            .bento-button-toggle-or-label-ripple {
                background: $fp-interaction-primary-hover;
            }
        }
    }

    label {
        width: 64px;
        height: 40px;
        padding: 0 $spacing-sm;
        background-color: $white;
        @include elevation-level-1;
        border-radius: $corner-radius-lg;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        .bento-button-toggle-or-label-ripple {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: $spacing-xs;
            bottom: $spacing-xs;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: $fp-interaction-primary-feedback;
            border-radius: 100%;
            transform: scale(0);
        }

        .bento-button-toggle-or-label {
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: $fp-interaction-primary;
            @include highlight();
            line-height: 2.8;
            text-align: center;
            text-transform: uppercase;
        }

        &:active {
            .bento-button-toggle-or-label-ripple {
                animation: button-primary-ripple .2s ease-in forwards;
            }
        }
    }
}


// BUTTON TOGGLE [AND]
///////////////////
.bento-button-toggle-and-container {
    display: flex;

    input {
        opacity: 0;
        width: 0;

        &:checked + label {
            background-color: $fp-interaction-primary;

            .bento-button-toggle-and-label {
                color: $white;
            }

            .bento-button-toggle-and-label-ripple {
                background: $fp-interaction-primary-hover;
            }
        }
    }

    label {
        width: 64px;
        height: 40px;
        padding: 0 $spacing-sm;
        background-color: $white;
        @include elevation-level-1;
        border-radius: $corner-radius-lg;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        .bento-button-toggle-and-label-ripple {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: $spacing-xs;
            bottom: $spacing-xs;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: $fp-interaction-primary-feedback;
            border-radius: 100%;
            transform: scale(0);
        }

        .bento-button-toggle-and-label {
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: $fp-interaction-primary;
            @include highlight();
            line-height: 2.8;
            text-align: center;
            text-transform: uppercase;
        }

        &:active {
            .bento-button-toggle-and-label-ripple {
                animation: button-primary-ripple .2s ease-in forwards;
            }
        }
    }
}
