// NEUTRAL COLORS
///////////////////
$neutral-primary: #333333;
$neutral-secondary: #707070;
$neutral-inactive: #CACACA;
$neutral-border: #DCDCDC;
$neutral-divider: #EBEBEB;
$neutral-surface: #F7F7F7;
$white: #FFFFFF;

// ELEVATION COLORS
///////////////////
$dark-64: rgba(0, 0, 0, .64);
$dark-4: rgba(0, 0, 0, .4);
$light-56: rgba(255, 255, 255, .56);



// FOODPANDA & FOODORA COLORS
///////////////////

// Brand colors
$fp-brand-primary: #D70F64;
$fp-brand-secondary: #276FBF;
$fp-brand-dark: #C60D5C;
$fp-brand-highlight-lvl1: #FDF1F5;

// Interaction colors
$fp-interaction-primary: #D70F64;
$fp-interaction-primary-hover: #C60D5C;
$fp-interaction-primary-feedback: #FDF1F5;
$fp-interaction-tertiary: #EB7CA3;
$fp-interaction-secondary: #707070;

// Rating colors
$fp-interaction-ratings: #276FBF;

// System colors
$fp-error: #E03000;
$fp-warning: #FCC54C;
$fp-success: #3C8264;
$fp-information: #276FBF;
$fp-error-highlight: #FDEFEB;
$fp-warning-highlight: #FFFBF1;
$fp-success-highlight: #F0F5F3;
$fp-information-highlight: #EEF4FA;

// Gradient colors
$fp-linear-gradient-1: #F51F7A;
$fp-linear-gradient-2: #930641;

// Special colors
$fp-special-1: #F7BDD1;
$fp-special-2: #EB7CA3;
$fp-special-3: #E14E84;
$fp-special-4: #D4DFE6;
$fp-special-5: #9CB4BF;
$fp-special-6: #8AA7B3;
$fp-special-7: #1F4D5D;



// DAMEJIDLO COLORS
///////////////////

// Brand colors
$dj-brand-primary: #DC1C22;
$dj-brand-secondary: #EC6707;
$dj-brand-dark: #B0161B;
$dj-brand-highlight-lvl1: #F8F0F0;

// Interaction colors
$dj-interaction-primary: #DC1C22;
$dj-interaction-primary-hover: #C5191E;
$dj-interaction-primary-feedback: #FDEDEE;
$dj-interaction-tertiary: #EC8286;
$dj-interaction-secondary: #707070;

// Rating colors
$dj-interaction-ratings: #39D46F;

// System colors
$dj-error: #DC1C22;
$dj-warning: #F3C400;
$dj-success: #39D46F;
$dj-information: #276FBF;
$dj-error-highlight: #FEF6F6;
$dj-warning-highlight: #FFFDF5;
$dj-success-highlight: #F7FDF9;
$dj-information-highlight: #EEF4FA;

// Gradient colors
$dj-linear-gradient-1: #DC1C22;
$dj-linear-gradient-2: #841014;



// NETPINCER COLORS
///////////////////

// Brand colors
$np-brand-primary: #EE2638;
$np-brand-secondary: #FF9429;
$np-brand-dark: #BC1A2B;
$np-brand-highlight-lvl1: #F9F1F1;

// Interaction colors
$np-interaction-primary: #EE2638;
$np-interaction-primary-hover: #BC1A2B;
$np-interaction-primary-feedback: #FEEEEF;
$np-interaction-tertiary: #F68892;
$np-interaction-secondary: #707070;

// Rating colors
$np-interaction-ratings: #FF9429;

// System colors
$np-error: #EE2638;
$np-warning: #F3C400;
$np-success: #4AB981;
$np-information: #BC1A2B;
$np-error-highlight: #FEEEEF;
$np-warning-highlight: #FEFBEB;
$np-success-highlight: #F1FAF5;
$np-information-highlight: #F7F0F1;

// Gradient colors
$np-linear-gradient-1: #EE2638;
$np-linear-gradient-2: #AC0313;



// MJAM COLORS (YET TO COME)
///////////////////
