<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttonshelf</title>
    <!-- style -->
    <link rel="stylesheet" href="/build/main.css">
</head>
<body>

    <!-- bento component wrapper -->
    <div class="bento-component-wrapper">

        <!-- ////////////////////
        ///// BUTTONSHELF
        //////////////////// -->
        <h1>Buttonshelf</h1>

        <!-- buttonshelf | one CTA -->
        <div class="bento-buttonshelf">
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- buttonshelf | one CTA with text -->
        <div class="bento-buttonshelf with-text">
            <p class="bento-buttonshelf-text">This is how text may look like</p>
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- buttonshelf | two CTAs vertical -->
        <div class="bento-buttonshelf two-cta-vertical">
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
            <div class="spacer"></div>
            <button class="bento-button-secondary">
                <span class="bento-button-secondary-ripple"></span>
                <span class="bento-button-secondary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- buttonshelf | two CTAs horizontal -->
        <div class="bento-buttonshelf two-cta-horizontal">
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
            <div class="spacer"></div>
            <button class="bento-button-secondary">
                <span class="bento-button-secondary-ripple"></span>
                <span class="bento-button-secondary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->


        <!-- ////////////////////
        ///// BUTTONSHELF SECONDARY
        //////////////////// -->
        <h1>BS Secondary</h1>

        <!-- buttonshelf secondary | one CTA -->
        <div class="bento-buttonshelf secondary">
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- buttonshelf secondary | two CTAs vertical -->
        <div class="bento-buttonshelf secondary two-cta-vertical">
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
            <div class="spacer"></div>
            <button class="bento-button-secondary">
                <span class="bento-button-secondary-ripple"></span>
                <span class="bento-button-secondary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- buttonshelf secondary | two CTAs horizontal -->
        <div class="bento-buttonshelf secondary two-cta-horizontal">
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
            <div class="spacer"></div>
            <button class="bento-button-secondary">
                <span class="bento-button-secondary-ripple"></span>
                <span class="bento-button-secondary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- buttonshelf secondary sticky | one CTA -->
        <div class="bento-buttonshelf secondary sticky">
            <button class="bento-button-primary">
                <span class="bento-button-primary-ripple"></span>
                <span class="bento-button-primary-label">Label</span>
            </button>
        </div>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->


    </div>
    
    <!-- JS -->
    <script src="./buttonshelf.js"></script>
</body>
</html>
