<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pills</title>
    <!-- style -->
    <link rel="stylesheet" href="/build/main.css">
</head>
<body>

    <!-- bento component wrapper -->
    <div class="bento-component-wrapper">

        <!-- ////////////////////
        ///// PILLS
        //////////////////// -->
        <h1>Pills</h1>

        <!-- pills | active-->
        <button class="bento-pill">
            <span class="bento-pill-ripple"></span>
            <span class="bento-pill-label">€</span>
        </button>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- pills | inactive-->
        <button class="bento-pill inactive">
            <span class="bento-pill-ripple"></span>
            <span class="bento-pill-label">€</span>
        </button>

        <br class="just-a-divider"> <!-- DO NOT COPY ME! -->

        <!-- pills | disabled-->
        <button class="bento-pill" disabled>
            <span class="bento-pill-ripple"></span>
            <span class="bento-pill-label">€</span>
        </button>

    </div>
    
    <!-- JS -->
    <script src="./pills.js"></script>
</body>
</html>
